.container-fluid
  .row.bg-yellow.shadow.p-4.pb-5.m-5
    .col-2.col-md-1.border.border-dark.border-right-0.d-flex.align-items-center.justify-content-center
      =image_tag('admin.png', class: 'icon m-1')
    .col-10.col-md-11.border.border-dark
      %h3.text-center User Registration Application
    %small.d-block.border.border-dark.border-bottom-0.px-1.w-100 All applications submitted are immediately available for review. Passwords are routed through a third party and are not available to view by the administrator. 
    = form_for(resource, html: {class: "form-group"}, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :upload_avatar, '1. Upload Avatar', class: "d-block m-0 px-1 border border-bottom-0 border-dark rounded-0 bg-opacity"
        %small.d-block.border.border-dark.border-bottom-0.px-1 Default avatars will be assigned if one is not provided. Avatars may be changed at any time on the Account page.
        = f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg', class: "form-control-file border border-bottom-0 border-dark rounded-0 p-2"
      .field
        = f.label :username, '2. Alias', class: "d-block m-0 px-1 border border-bottom-0 border-dark rounded-0 bg-opacity"
        %small.d-block.border.border-dark.border-bottom-0.px-1 Usernames are requested to reflect a serial killer or a pun on cereals.
        = f.text_field :username, autofocus: true, class: "form-control bg-transparent border-bottom-0 border-dark rounded-0"
      .field
        = f.label :email, '3. Primary Email Address', class: "d-block m-0 px-1 border border-bottom-0 border-dark rounded-0 bg-opacity"
        %small.d-block.border.border-dark.border-bottom-0.px-1 E-mail addresses will not be used for marketing material or sold to a third party. E-mails are used for log-in purposes and password reset requests only. For further questions about e-mail use, please e-mail the administrator.
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control bg-transparent border-bottom-0 border-dark rounded-0"
      .field
        = f.label :password, '4a. Secret Passcode', class: "d-block m-0 px-1 border border-bottom-0 border-dark rounded-0 bg-opacity"
        - if @minimum_password_length
          %small.d-block.border.border-bottom-0.border-dark.px-1
            Password must be
            = @minimum_password_length
            characters minimum. Passwords are case sensitive.
        = f.password_field :password, autocomplete: "new-password", class: "form-control bg-transparent border-bottom-0 border-dark rounded-0"
      .field
        = f.label :password_confirmation, '4b. Passcode Confirmation', class: "d-block m-0 px-1 border border-bottom-0 border-dark rounded-0 bg-opacity"
        %small.d-block.border.border-bottom-0.border-dark.px-1 Please re-enter the password listed above.
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control bg-transparent border-dark rounded-0"
      .actions.mt-1
        = f.submit "Register", class: "mb-1 rounded-0"
      = render "devise/shared/links"