.container-fluid
	%h2 #{@user.username}
	%p= link_to "Edit Account", edit_user_registration_path(@user.id)
	- if @user.avatar.attached?
		= image_tag(@user.avatar, class: "img-thumbnail")

	- if !@user.reviews.empty?
		%h3 Reviews
		.container-fluid
			- @user.reviews.each do |r|
				.row
					.col
						%p= link_to r.product.name, product_path(r.product.id)
					.col-9
						%p= r.rating
						%p= r.comment