.container-fluid
	%h1.text-center.text-md-left.shadow.bg-gray-900.text-light.rotate-neg.d-inline-block.px-5 #{@user.username}

	.d-block
		.d-inline-block.bg-white.shadow.shadow-hover.text-center.my-3.p-3.pb-5
			= image_tag(@user.thumbnail, class: 'd-flex m-auto d-md-block m-md-0')
	- if user_signed_in? && @user.username == current_user.username
		%p= link_to "Edit Account", edit_user_registration_path(@user.id), class: "mt-1 rounded-0"

	- if !@user.reviews.empty?
		.container-fluid
			%h2.shadow.bg-gray-900.text-light.rotate.d-inline-block.mb-4.px-5 Reviews
			- @user.reviews.each do |r|
				.row.bg-white.shadow.mb-5.py-4
					.col-3
						%h3.responsive-font= link_to r.product.name, product_path(r.product.id), class: 'stretched-link'
						- if r.product.uploads.attached?
							= link_to(image_tag(r.product.uploads.first.variant(resize: '200x200'), class: "w-100 rounded"), product_path(r.product.id))
						- else
							= link_to(image_tag('placeholder.jpg', class: "w-100 rounded"), product_path(r.product.id))
					.col-9
						.mt-3.mt-md-2= r.created_at.strftime("%b %d, %Y")
						= image_tag("#{r.rating}star.png", class: "my-3")
						.pt-1.pb-4= r.comment