.container-fluid.bg-cork
	%h1.text-center.shadow.bg-gray-900.text-light.rotate-neg.d-inline-block.px-5 #{@user.username}

	.row.py-4
		.col-6.col-md-5.col-lg-3.p-0.overlap
			.bg-white.shadow.shadow-hover.text-center.my-3.p-3
				= link_to(image_tag(@user.thumbnail, class: "img-fluid"), url_for(@user.thumbnail), class: "image-link")
				.mt-3 Active Since: #{ @user.created_at.strftime("%B %-d, %Y") }
		- if @user.description.present?
			.col-5.col-md-6.bg-yellow.shadow.px-4.pb-5
				.row.p-4.d-block.h-100
					.col-12.border.border-dark
						%h3.text-center Suspect Description
					.col-12.d-inline-block.h-100.border.border-dark= @user.description.body	

	- if user_signed_in? && @user.username == current_user.username
		.bg-gray-300.shadow.p-4.w-50.ml-5
			.border.border-dark
				%h3.text-center Requisitions
			.border.border-dark.border-top-0
				%li.p-2= link_to "Edit Account", edit_user_registration_path(@user.id), class: "mt-1 rounded-0"

	- if !@user.reviews.empty?
		.container-fluid
			.row
				.col-6
					%h2.shadow.bg-gray-900.text-light.rotate.d-inline-block.mb-4.px-5 Reviews

			- @user.reviews.each do |r|
				.row.mb-5
					.col-3.overlap.p-0
						.bg-white.shadow.shadow-hover.text-center.my-3.p-3
							- if r.product.uploads.attached?
								= link_to(image_tag(r.product.uploads.first.variant(resize: '200x200'), class: "w-100"), product_path(r.product.id))
							- else
								= link_to(image_tag('placeholder.jpg', class: "w-100"), product_path(r.product.id))
							%h3.responsive-font.mt-3= link_to r.product.name, product_path(r.product.id), class: 'stretched-link'
					= render "products/report" , r: r, '@product': r.product