.container-fluid
	%h2 #{@user.username}
	%p= link_to "Edit Account", edit_user_registration_path(@user.id)
	- if @user.avatar.attached?
		= image_tag(@user.avatar, class: "img-thumbnail")

	- if !@user.reviews.empty?
		%h3 Reviews
		- @user.reviews.each do |r|
			.container-sm
				%h4= r.product.name
				%p= r.rating
				%p= r.comment