.container-fluid.bg-desk.h-100
  .bg-yellow.shadow.p-4.m-5
    %h3.text-center.border.border-dark.m-0.py-1 Password Change Request form
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = render "devise/shared/error_messages", resource: resource
      = f.hidden_field :reset_password_token
      .field
        = f.label :password, "1. New Secret Passcode", class: "d-block m-0 px-1 border border-bottom-0 border-dark rounded-0 bg-opacity"
        - if @minimum_password_length
          %small.d-block.border.border-bottom-0.border-dark.px-1
            Password must be
            = @minimum_password_length
            characters minimum. Passwords are case sensitive.
        = f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control bg-transparent border-dark rounded-0"
      .field
        = f.label :password_confirmation, "2. Confirm Secret Passcode", class: "d-block m-0 px-1 border border-bottom-0 border-dark rounded-0 bg-opacity"
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control bg-transparent border-dark rounded-0"
      .actions.mt-1
        = f.submit "Change my password", class: "mb-1 rounded-0"
    = render "devise/shared/links"