.container-fluid
	%h1 BAM! all of em cereals in a list
	.row
		- @products.each do |p|
			.col-lg-3.col-md-4.col-6.cereal-img
				= link_to "#{p.name}", product_path(p.id)
				= image_tag("#{rating_average(p.reviews).round}star.png")
				- if p.uploads.attached?
					= link_to(image_tag(p.uploads.first, class: 'img-thumbnail'), product_path(p.id))
				- else
					= link_to(image_tag('placeholder.jpg', class: 'img-thumbnail'), product_path(p.id))
				
