.container-fluid.m-0.p-0
	.row
		.col-8.mx-auto
			%h1.my-5.text-center.shadow.bg-gray-900.text-light.rotate.px-3 Your next cereal awaits
	.row.w-100.m-0.d-flex.align-items-end.bg-gray-900
		- @products.each do |p|
			.col-4.col-md-3.col-lg-2.p-0.py-5.m-0.cereal-img
				- if p.photo.attached?
					= link_to(image_tag(p.photo.variant(resize: '300x300'), class: "h-auto w-100 px-1"), product_path(p.id))
				- else
					= link_to(image_tag('placeholder.jpg', class: "w-100 h-100 px-1"), product_path(p.id))
				.shelf.position-absolute.text-center.w-100
				.label.position-absolute.shadow.d-flex.justify-content-center
					= link_to "#{p.name}", product_path(p.id), class: "bg-white d-flex align-items-center justify-content-center m-auto text-center stretched-link text-gray-900 p-1"
					- if p.reviews.present?
						.price.bg-warning.d-flex.align-items-center.justify-content-center.p-1= sprintf('%.2f', rating_average(p.reviews))