.container
	%h1.text-center Your next cereal awaits
	.row
		- @products.each do |p|
			.col-6.col-md-4.col-lg-3
				.bg-white.shadow.shadow-hover.text-center.my-3.p-3
					- if p.uploads.attached?
						.cereal-img.position-relative= link_to(image_tag(p.uploads.first.variant(resize: '300x300'), class: "position-absolute w-100 h-100"), product_path(p.id))
					- else
						.cereal-img.position-relative= link_to(image_tag('placeholder.jpg', class: "position-absolute w-100 h-100"), product_path(p.id))

					- if p.reviews.length > 0
						= image_tag("#{rating_average(p.reviews).round}star.png", class: 'my-3')

					= link_to "#{p.name}", product_path(p.id), class: "stretched-link d-block text-gray-900"