.container-fluid
	%h2 #{@product.name}

	- if has_reviews?
		.container-fluid
			- @product.reviews.each do |r|
				.row
					.col
						%p= link_to r.user.username, user_path
					.col-9
						.row
							%p= r.rating
							%p= r.created_at.strftime("%b %-d %Y")
						.row
							%p= r.comment
		%hr
	- else
		%p This cereal currently has no reviews.

	/ - if user_signed_in? && !left_review?
	/ 	%form[action: new_product_review_path(@product)]
	/ 		%input[type:"submit", value:"Add Review"]