.container-fluid
	%h1.text-center.text-md-left #{@product.name}

	- if @product.uploads.attached?
		.row.slider.my-4
			- @product.uploads.each do |u|
				= image_tag(u.variant(resize: '300x200').processed)

	.container-fluid
		.row
			- if user_signed_in? && !left_review?
				= link_to "Write a Review", new_product_review_path(@product), class: "btn btn-primary my-3 mr-3"

			- if user_signed_in?
				=link_to new_product_upload_path(@product), class: 'btn btn-secondary my-3' do
					=image_tag('camera.svg', class: "icon mt-n2")
					%span Add Photos


	- if has_reviews?
		- rating_average(@product.reviews).round.times do
			= image_tag('butcher.svg', class: 'svg')
		- (5 - rating_average(@product.reviews).round).times do
			= image_tag('butcher_blank.svg', class: 'svg')
		%span / #{@product.reviews.length} reviews
	- else
		%p This cereal currently has no reviews.

	- if has_reviews?
		.container-fluid
			.row
				%h2 Reviews
			- @product.reviews.each do |r|
				.row.bg-white.shadow.mb-4.py-4
					.col-3
						%h3.responsive-font= link_to r.user.username, user_path(r.user.id), class: 'stretched-link'
						- if r.user.avatar.present?
							= image_tag(r.user.thumbnail, class:"img-fluid rounded")
					.col-9
						.row
							.col
								%div= r.created_at.strftime("%b %d, %Y")
								= image_tag("#{r.rating}star.png")
						.row
							.col.comment
								%p= r.comment
					- if user_signed_in? && owns_review?(r)
						= link_to "Edit", edit_product_review_path(@product, r), class: "btn btn-primary my-3 mx-4"
						= link_to "Delete", product_review_path(@product, r), :data => {:confirm => 'Are you sure you want to delete your review?'}, :method => :delete, class: "btn btn-danger my-3"