.container-fluid
	%h2 #{@product.name}

	- if @product.uploads.attached?
		.row
			- @product.uploads.each do |u|
				= image_tag(u.variant(resize: '300x300!').processed)

	- if has_reviews?
		.container-fluid
			- @product.reviews.each do |r|
				.row
					.col-3
						%p= link_to r.user.username, user_path
						- if r.user.avatar.present?
							= image_tag(r.user.thumbnail, class:"img-fluid")
					.col-9
						.row
							.col
								%p= r.rating
								%p= r.created_at.strftime("%b %-d %Y")
						.row
							.col
								%p= r.comment
	- else
		%p This cereal currently has no reviews.


	/ - if user_signed_in? && !left_review?
	/ 	%form[action: new_product_review_path(@product)]
	/ 		%input[type:"submit", value:"Add Review"]