.container-fluid
	%h1.text-center.text-md-left.shadow.bg-gray-900.text-light.rotate-neg.d-inline-block.px-5 #{@product.name}

	- if @product.uploads.attached?
		.row.slider.my-4
			- @product.uploads.each do |u|
				= image_tag(u.variant(resize: '300x200').processed)
	- else
		.row
			.col-3.bg-yellow.shadow.p-5.m-5.rotate-neg
				%h3.text-center Photographic Evidence not Submitted
	
	.bg-white.shadow.d-inline-block.px-4.py-3.mb-5
		- if has_reviews?
			- rating_average(@product.reviews).round.times do
				= image_tag('butcher.svg', class: 'svg')
			- (5 - rating_average(@product.reviews).round).times do
				= image_tag('butcher_blank.svg', class: 'svg')
			- if @product.reviews.length == 1
				%span / #{@product.reviews.length} review
			- elsif @product.reviews.length > 1
				%span / #{@product.reviews.length} reviews
		- else
			%p No incident reports have been filed for #{@product.name}.

	- if user_signed_in?
		.bg-gray-300.shadow.p-4.w-50.ml-5
			.border.border-dark
				%h3.text-center Requisitions
			.border.border-dark.border-top-0
				%li.p-2=link_to "Submit Photographic Evidence", new_product_upload_path(@product)
				- if !left_review?
					%li.border-dark.border-top.p-2= link_to "File Cereal Incident Report", new_product_review_path(@product)

	- if has_reviews?
		.container-fluid
			.row
				%h2.shadow.bg-gray-900.text-light.rotate.d-inline-block.mb-4.px-5 Reviews
			- @product.reviews.each do |r|
				.row.mb-5
					.col-3.overlap.p-0
						.bg-white.shadow.shadow-hover.text-center.my-3.p-3
							- if r.user.avatar.present?
								= image_tag(r.user.thumbnail, class: "img-fluid")
							%h3.responsive-font.mt-3= link_to r.user.username, user_path(r.user.id), class: 'stretched-link'

					= render "report", r: r