= form_for [@product, @review] do |f|

	.form-group
		.form-check-label= f.label :product_name
		= f.text_field :product

		.form-check-label= f.label :rating
		= f.radio_button :rating, 1
		= f.radio_button :rating, 2
		= f.radio_button :rating, 3
		= f.radio_button :rating, 4
		= f.radio_button :rating, 5

		.form-check-label= f.label :comment
		= f.text_area :comment, size: "30x10"

		= f.submit