!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cereal Killer
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    %nav
      = link_to root_path do
        %li Home

      - if user_signed_in?
        %li Write a Review
        = link_to current_user do
          %li= current_user.username
        = link_to destroy_user_session_path,:method => :delete do
          %li Log Out
      - else
        = link_to new_user_registration_path do
          %li Register
        = link_to new_user_session_path do
          %li Log In

  = yield