!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cereal Killer
    = csrf_meta_tags
    = stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  %body
    %p.notice= notice
    %p.alert= alert
    %nav.nav
      = link_to "Home", root_path, class: "nav-link"
      = link_to "Cereal Reviews", products_path, class: "nav-link"

      - if user_signed_in?
        = link_to "Write a Review", new_product_path, class: "nav-link"
        = link_to current_user, class: "nav-link" do
          = current_user.username
        = link_to "Log Out", destroy_user_session_path,:method => :delete, class: "nav-link"
      - else
        = link_to new_user_registration_path do
          %li Register
        = link_to new_user_session_path do
          %li Log In

  .container
    = yield