!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cereal Killer
    = csrf_meta_tags
  %body
    %p.notice= notice
    %p.alert= alert
    %nav
      =link_to root_path do
        %p Home

      - if user_signed_in?
        %p hello!
      - else
        = link_to new_user_registration_path do
          %p Register
        = link_to new_user_session_path do
          %p Log In

  = yield