!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cereal Killer
    = csrf_meta_tags

    = stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Creepster&family=Special+Elite&display=swap"
    = stylesheet_link_tag "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    = stylesheet_link_tag "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    = stylesheet_link_tag 
    = stylesheet_link_tag "application", media: 'all'
  %body
    - if notice.present?
      %p.alert.alert-success= notice
    - if alert.present?
      %p.alert.alert-danger= alert
    - if @errors.present?
      %p.alert.alert-danger= @errors
    %nav.nav
      = link_to "Cereal Killers", root_path, class: "nav-link"
      = link_to "View Cereals", products_path, class: "nav-link"

      - if user_signed_in?
        = link_to "Write a Review", new_product_path, class: "nav-link"
        = link_to "Account", current_user, class: "nav-link"
        = link_to "Log Out", destroy_user_session_path, :method => :delete, class: "nav-link"
      - else
        = link_to "Register", new_user_registration_path, class: "nav-link"
        = link_to "Log In", new_user_session_path, class: "nav-link"
    = javascript_include_tag "https://code.jquery.com/jquery-3.5.1.slim.min.js"
    = javascript_include_tag "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    = javascript_include_tag 'application'
    

  = yield

  %footer
    %span icon made by 
    %a{ href: "https://www.flaticon.com/authors/catkuro" }catkuro
    %span from 
    %a{ href: "https://www.flaticon.com/" }www.flaticon.com
