!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ name: 'viewport', content:"width=device-width, initial-scale=1, shrink-to-fit=no" }
    %title Cereal Killer
    = csrf_meta_tags
    = stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Creepster&family=Special+Elite&display=swap"
    = stylesheet_link_tag "application", media: 'all'
  %body.bg-cork.text-gray-900.d-flex.flex-column.h-100.m-0
    - if notice.present?
      %p.alert.alert-success= notice
    - if alert.present?
      %p.alert.alert-danger= alert
    - if @errors.present?
      %p.alert.alert-danger= @errors
    %nav.nav.bg-gray-900
      = link_to "Cereal Killers", root_path, class: "nav-link"

      - if user_signed_in?
        = link_to "Write a Review", new_product_path, class: "nav-link"
        = link_to "Account", current_user, class: "nav-link"
        = link_to "Log Out", destroy_user_session_path, :method => :delete, class: "nav-link"
      - else
        = link_to "Register", new_user_registration_path, class: "nav-link"
        = link_to "Log In", new_user_session_path, class: "nav-link"
    

  = yield

  .mt-5
  %footer.text-center.bg-gray-900.text-gray-700.p-3.mt-auto
    %span icon made by 
    %a.text-gray-700{ href: "https://www.flaticon.com/authors/catkuro" }catkuro
    %span from 
    %a.text-gray-700{ href: "https://www.flaticon.com/" }www.flaticon.com

  = javascript_include_tag "https://kit.fontawesome.com/0481b259eb.js"
  = javascript_include_tag 'application'
  = javascript_pack_tag 'application'